## Preprocessing

In [21]:
# Import our dependencies
import tensorflow as tf
tf.__version__
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN","NAME"],1).values
application_df.head()

/var/folders/3t/nb3d_nhd51d4pjxgz3szq0nr0000gn/T/ipykernel_53662/2036532070.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df.drop(["EIN","NAME"],1).values

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts for binning
value_count = application_df['APPLICATION_TYPE'].value_counts()
value_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = list(value_count[value_count< 1000].index)
# use the variable name `application_types_to_replace`

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count< 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
features = pd.get_dummies(application_df)

In [30]:
# Split our preprocessed data into our features and target arrays
X = features.drop('IS_SUCCESSFUL', axis='columns')
y = features['IS_SUCCESSFUL'] 

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer. Deep learning lesson 02 - INS 06
# number_input_features = len(X_train[0])
# hidden_nodes_layer1 =  8
# hidden_nodes_layer2 = 5

# nn = tf.keras.models.Sequential()
# First hidden layer
# nn.add(
#     tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
# )

# Second hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
# nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
# nn.summary()

number_input_features = len(X_train.columns)
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

#First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 156880

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 156,931
Trainable params: 156,931
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100

2022-05-19 18:26:25.987285: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2022-05-19 18:26:26.678179: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 8s 8ms/step - loss: 0.7351 - accuracy: 0.6884
Epoch 2/100
804/804 [==============================] - 6s 8ms/step - loss: 0.2714 - accuracy: 0.8950
Epoch 3/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1358 - accuracy: 0.9468
Epoch 4/100
804/804 [==============================] - 6s 7ms/step - loss: 0.1102 - accuracy: 0.9551
Epoch 5/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1029 - accuracy: 0.9557
Epoch 6/100
804/804 [==============================] - 6s 8ms/step - loss: 0.1006 - accuracy: 0.9574
Epoch 7/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0981 - accuracy: 0.9579
Epoch 8/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0972 - accuracy: 0.9580
Epoch 9/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0970 - accuracy: 0.9575
Epoch 10/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0962 - accuracy: 0.9586
Epoch 11/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0959 - accuracy: 0.9586
Epoch 12/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0949 - accuracy: 0.9598
Epoch 13/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0950 - accuracy: 0.9589
Epoch 14/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0942 - accuracy: 0.9600
Epoch 15/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0936 - accuracy: 0.9602
Epoch 16/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0933 - accuracy: 0.9599
Epoch 17/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0929 - accuracy: 0.9609
Epoch 18/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0925 - accuracy: 0.9606
Epoch 19/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0927 - accuracy: 0.9608
Epoch 20/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0920 - accuracy: 0.9611
Epoch 21/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0916 - accuracy: 0.9616
Epoch 22/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0916 - accuracy: 0.9614
Epoch 23/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0910 - accuracy: 0.9612
Epoch 24/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0909 - accuracy: 0.9622
Epoch 25/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0913 - accuracy: 0.9609
Epoch 26/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0908 - accuracy: 0.9617
Epoch 27/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0905 - accuracy: 0.9618
Epoch 28/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0905 - accuracy: 0.9619
Epoch 29/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0899 - accuracy: 0.9619
Epoch 30/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0905 - accuracy: 0.9618
Epoch 31/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0922 - accuracy: 0.9609
Epoch 32/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0914 - accuracy: 0.9618
Epoch 33/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0896 - accuracy: 0.9623
Epoch 34/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0884 - accuracy: 0.9624
Epoch 35/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0882 - accuracy: 0.9622
Epoch 36/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0885 - accuracy: 0.9632
Epoch 37/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0876 - accuracy: 0.9638
Epoch 38/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0876 - accuracy: 0.9635
Epoch 39/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0872 - accuracy: 0.9630
Epoch 40/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0875 - accuracy: 0.9631
Epoch 41/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0873 - accuracy: 0.9628
Epoch 42/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0871 - accuracy: 0.9638
Epoch 43/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0869 - accuracy: 0.9629
Epoch 44/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0870 - accuracy: 0.9640
Epoch 45/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0863 - accuracy: 0.9639
Epoch 46/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0864 - accuracy: 0.9642
Epoch 47/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0862 - accuracy: 0.9640
Epoch 48/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0862 - accuracy: 0.9641
Epoch 49/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0861 - accuracy: 0.9644
Epoch 50/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0859 - accuracy: 0.9642
Epoch 51/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0861 - accuracy: 0.9637
Epoch 52/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0854 - accuracy: 0.9645
Epoch 53/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0855 - accuracy: 0.9644
Epoch 54/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0857 - accuracy: 0.9639
Epoch 55/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0851 - accuracy: 0.9648
Epoch 56/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0853 - accuracy: 0.9649
Epoch 57/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0851 - accuracy: 0.9648
Epoch 58/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0848 - accuracy: 0.9649
Epoch 59/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0852 - accuracy: 0.9635
Epoch 60/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0855 - accuracy: 0.9642
Epoch 61/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0850 - accuracy: 0.9647
Epoch 62/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0850 - accuracy: 0.9645
Epoch 63/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0849 - accuracy: 0.9646
Epoch 64/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0847 - accuracy: 0.9643
Epoch 65/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0846 - accuracy: 0.9644
Epoch 66/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0848 - accuracy: 0.9645
Epoch 67/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0844 - accuracy: 0.9652
Epoch 68/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0845 - accuracy: 0.9645
Epoch 69/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0843 - accuracy: 0.9641
Epoch 70/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0841 - accuracy: 0.9645
Epoch 71/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0843 - accuracy: 0.9648
Epoch 72/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0842 - accuracy: 0.9645
Epoch 73/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0844 - accuracy: 0.9648
Epoch 74/100
804/804 [==============================] - 7s 8ms/step - loss: 0.0841 - accuracy: 0.9643
Epoch 75/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0842 - accuracy: 0.9649
Epoch 76/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0841 - accuracy: 0.9646
Epoch 77/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0841 - accuracy: 0.9645
Epoch 78/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0840 - accuracy: 0.9647
Epoch 79/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0840 - accuracy: 0.9650
Epoch 80/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0838 - accuracy: 0.9651
Epoch 81/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0839 - accuracy: 0.9651
Epoch 82/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0840 - accuracy: 0.9645
Epoch 83/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0837 - accuracy: 0.9653
Epoch 84/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0839 - accuracy: 0.9654
Epoch 85/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0833 - accuracy: 0.9650
Epoch 86/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0843 - accuracy: 0.9647
Epoch 87/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0837 - accuracy: 0.9645
Epoch 88/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0834 - accuracy: 0.9652
Epoch 89/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0834 - accuracy: 0.9655
Epoch 90/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0831 - accuracy: 0.9655
Epoch 91/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0836 - accuracy: 0.9648
Epoch 92/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0835 - accuracy: 0.9647
Epoch 93/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0833 - accuracy: 0.9650
Epoch 94/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0836 - accuracy: 0.9648
Epoch 95/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0832 - accuracy: 0.9651
Epoch 96/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0831 - accuracy: 0.9652
Epoch 97/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0832 - accuracy: 0.9656
Epoch 98/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0829 - accuracy: 0.9652
Epoch 99/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0831 - accuracy: 0.9650
Epoch 100/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0829 - accuracy: 0.9649

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2022-05-19 18:36:28.915324: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

268/268 - 1s - loss: 0.6352 - accuracy: 0.6369 - 1s/epoch - 4ms/step
Loss: 0.6352338790893555, Accuracy: 0.6368513107299805

In [36]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE