## Preprocessing

In [18]:
# Import our dependencies
import tensorflow as tf
tf.__version__
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN","NAME"],1).values
application_df.head()

/var/folders/3t/nb3d_nhd51d4pjxgz3szq0nr0000gn/T/ipykernel_55115/2036532070.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df.drop(["EIN","NAME"],1).values

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
value_count = application_df['APPLICATION_TYPE'].value_counts()
value_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = list(value_count[value_count< 1000].index)
# use the variable name `application_types_to_replace`

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count< 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
features = pd.get_dummies(application_df)

In [27]:
# Split our preprocessed data into our features and target arrays
X = features.drop('IS_SUCCESSFUL', axis='columns')
y = features['IS_SUCCESSFUL'] 

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [29]:


number_input_features = len(X_train.columns)
# hidden_nodes_layer1 =  300
# hidden_nodes_layer2 = 300

hidden_nodes_layer1 =  400
hidden_nodes_layer2 = 400
hidden_nodes_layer3 = 400

nn = tf.keras.models.Sequential()

#First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 400)               7844000

 dense_8 (Dense)             (None, 400)               160400

 dense_9 (Dense)             (None, 400)               160400

 dense_10 (Dense)            (None, 1)                 401

=================================================================
Total params: 8,165,201
Trainable params: 8,165,201
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50

2022-05-19 21:15:35.412424: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

804/804 [==============================] - 14s 17ms/step - loss: 0.4734 - accuracy: 0.7776
Epoch 2/50
804/804 [==============================] - 14s 17ms/step - loss: 0.1142 - accuracy: 0.9581
Epoch 3/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0958 - accuracy: 0.9619
Epoch 4/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0928 - accuracy: 0.9620
Epoch 5/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0920 - accuracy: 0.9623
Epoch 6/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0916 - accuracy: 0.9624
Epoch 7/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0913 - accuracy: 0.9627
Epoch 8/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0914 - accuracy: 0.9628
Epoch 9/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0907 - accuracy: 0.9628
Epoch 10/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0902 - accuracy: 0.9634
Epoch 11/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0894 - accuracy: 0.9631
Epoch 12/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0887 - accuracy: 0.9637
Epoch 13/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0886 - accuracy: 0.9639
Epoch 14/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0885 - accuracy: 0.9641
Epoch 15/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0873 - accuracy: 0.9644
Epoch 16/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0872 - accuracy: 0.9636
Epoch 17/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0863 - accuracy: 0.9648
Epoch 18/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0861 - accuracy: 0.9649
Epoch 19/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0859 - accuracy: 0.9654
Epoch 20/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0846 - accuracy: 0.9652
Epoch 21/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0839 - accuracy: 0.9656
Epoch 22/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0834 - accuracy: 0.9663
Epoch 23/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0836 - accuracy: 0.9659
Epoch 24/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0834 - accuracy: 0.9663
Epoch 25/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0827 - accuracy: 0.9665
Epoch 26/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0823 - accuracy: 0.9664
Epoch 27/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0867 - accuracy: 0.9665
Epoch 28/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0826 - accuracy: 0.9668
Epoch 29/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0804 - accuracy: 0.9665
Epoch 30/50
804/804 [==============================] - 16s 19ms/step - loss: 0.0801 - accuracy: 0.9678
Epoch 31/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0795 - accuracy: 0.9675
Epoch 32/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0794 - accuracy: 0.9676
Epoch 33/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0788 - accuracy: 0.9677
Epoch 34/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0783 - accuracy: 0.9677
Epoch 35/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0780 - accuracy: 0.9687
Epoch 36/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0774 - accuracy: 0.9686
Epoch 37/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0772 - accuracy: 0.9686
Epoch 38/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0766 - accuracy: 0.9690
Epoch 39/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0767 - accuracy: 0.9689
Epoch 40/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0787 - accuracy: 0.9689
Epoch 41/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0765 - accuracy: 0.9694
Epoch 42/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0748 - accuracy: 0.9695
Epoch 43/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0750 - accuracy: 0.9694
Epoch 44/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0753 - accuracy: 0.9694
Epoch 45/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0753 - accuracy: 0.9700
Epoch 46/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0749 - accuracy: 0.9698
Epoch 47/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0748 - accuracy: 0.9701
Epoch 48/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0745 - accuracy: 0.9700
Epoch 49/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0747 - accuracy: 0.9690
Epoch 50/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0744 - accuracy: 0.9700

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2022-05-19 21:27:47.676250: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

268/268 - 3s - loss: 0.7842 - accuracy: 0.7534 - 3s/epoch - 13ms/step
Loss: 0.7842226624488831, Accuracy: 0.7533527612686157

In [33]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE